* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --bg-body: #fff;
}

body {
    background-color: var(--bg-body);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    border: 1px solid red;
    display: flex;
}